html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    background: #EEE4B9;
}

img{
    border: none;
}

a{
    color: #8d0d19;
}
a:hover{
    color: #1a446c;
}

#header{
    height:70px;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #1a446c;
    color: #d4e6f4;
}
#header h1{
    padding: 1em;
    margin: 0;
}
#main{
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #EEE4B9;
}
#footer{
    clear: both;
    height: 2em;
    margin: 0;
    padding: 1em;
    text-align: center;
    background: #1a446c;
    color: #d4e6f4;
}
/*navigation*/
#navigation{
    float: left;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 0 2em;
    color: #d4e6f4;
    background: #8d0d19;
}
#navigation a{
    color: #d4e6f4;
    text-decoration: none;
}
#navigation a:hover{
    color: #ffffff;
}
ul.subjects{
    margin: 1em 0;
    padding-left: 0;
    list-style: none; 
}
ul.pages{
    padding-left: 2em;
    list-style: square;
    font-weight: normal;
}
.selected{ font-weight: bold; }

/* page content */
#page{
    float: left;
    height: 100%;
    padding-left: 2em;
    vertical-align: top;
    background: #EEE4B9;
}
#page h2{ color:#8d0d19; margin-top: 1em; }
#page h3{ color: #8d0d19; }
.view-content{
    margin: 1em; padding: 1em; border: 1px solid #999;
}

div.message {
    border: 2px solid #8d0d19;
    color: #8d0d19; font-weight: bold;
    margin: 1em 0 ; padding: 1em;
}

.error {
    color: #8d0d19; border: 2px solid #8d0d19; 
    margin: 1em 0; padding: 1em;
}
.error ul{ padding-left: 2em;}